html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}

h1 {
    color: black;

}

a {
    color: green;
}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
nav {
  width: 100%;
  overflow: auto;
  background-color: black ;
}

ul {
  width: 100%;
  margin: 0, 0, 0, 250px;
  list-style: none;
}

li.j {
  float: right;
  width: 9%;
  margin-left: 10px;
}

li a {
  width: 100px;
  display: block;
  padding: 37.5px 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
li  :hover {
  background: gray;
  color: lightblue;
  text-transform: uppercase;
}
.logo img{
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;

}



body {
  background: rgb(9,9,9);
  background: linear-gradient(90deg, rgba(9,9,9,1) 0%, rgba(107,102,102,1) 50%, rgba(9,9,9,1) 100%);
    background-size: contain;
    ;
    width: 100%;
    
}


html {
  scroll-behavior: smooth;
}
/* nav bar */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 100%;
}

/* Hide the images by default */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 10);
}

/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides {
  box-sizing: border-box;
}



@media (max-width: 600px) {
    .w3-col {
      width: 300px;
    }
    .j{
      margin-right: 20px;
    }
    nav {
      padding-right: 30px;
    }
    .logo img {
        width: 100px;
    }

}
